<ion-header>
  <ion-toolbar>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img  height="50%"  width="50%" src="/assets/icon/robot.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>GRUPO # 13</ion-card-subtitle>
        <ion-card-title>RoombaGT 2099</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Soy un robot limpiador que cuento con las funciones básicas de aspirar y barrer y desplazarse de forma automática 
          por  15 minutos, reconociendo límites y obstáculos, así como evadir los últimos, tomando la ruta más adecuada.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
